<header>
  <nav class="dv-container p-6 flex items-center">
    <button title="Saves" aria-label="Saves" class="btn btn-ghost">
<svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" viewBox="0 0 24 24">
    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" 
        stroke-width="2" d="M5 5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H7a2 2 0 0 1- 
        2-2zm4 2h6m-6 4h6m-6 4h4"/>
</svg>
    </button>
    <a href="/" class="cursor-pointer text-3xl mx-auto dv-font-heading">Divvy</a>
    <button title="Login" aria-label="Login" class="btn btn-ghost">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M9 8V6a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2v-2"/>
          <path d="M3 12h13l-3-3m0 6l3-3"/>
        </g>
      </svg>
    </button>
  </nav>
</header>
