@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url("/pattern.svg");
    background-repeat: repeat;
    background-size: 8px;
}
body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background-image: radial-gradient(at 0% 0%, rgba(255, 255, 255, 0.9) 500px, transparent 95%),
    radial-gradient(at 100% 0%, rgba(255, 255, 255, 0.9) 500px, transparent 95%),
    radial-gradient(at 50% 100%, rgba(229, 246, 255, 0.8) 500px, transparent 95%);
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: url("/pattern-light.svg");
    }
    body::after {
        background-image: radial-gradient(at 0% 0%, rgba(5, 5, 7, 0.9) 500px, transparent 95%),
        radial-gradient(at 100% 0%, rgba(5, 5, 7, 0.9) 500px, transparent 95%),
        radial-gradient(at 50% 100%, rgba(22, 18, 35, 0.9) 500px, transparent 95%);
    }
}

@layer components {
    .dv-font-body {
        font-family: "DM Sans", -apple-system, system-ui, sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .dv-font-heading {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    .dv-wrapper {
        @apply w-full min-h-[100dvh] relative z-50 grid grid-rows-[auto_1fr_auto] gap-y-6
        md:gap-y-16 lg:gap-y-20 dv-font-body;
    }

    .dv-container {
        @apply container mx-auto px-6 md:px-8 lg:px-10
    }

    .dv-cta-btn {
        @apply p-8 min-w-44 flex flex-col items-center rounded-xl border-2 border-secondary transition
        duration-150 md:hover:bg-secondary active:scale-95 md:hover:text-base-100
    }
}

:root:has(:is(.modal-open,.modal-target,.modal-toggle:checked+.modal,.modal[open])) {
    scrollbar-gutter: auto !important;
}