<dialog id="modal_about" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="dv-font-heading px-6 text-2xl">What is Divvy</h3>
    <div class="flex md:grid md:grid-cols-2 md:gap-x-4 p-6">
      <div class="hidden md:block">
        <img class="rounded-xl" src="/about.webp" alt="group of friends">
      </div>
      <div class="flex flex-col gap-y-4">
        <p>
          Divvy is an expense splitting application. Perfect for situations when you want to quickly split a collection
          of expenses between a group of people.
        </p>
        <p>
          Choose to split evenly or assign expenses at an individual level! Divvy gives you full control over how you
          want
          to divvy up those expenses.
        </p>
        <p>
          Save your results (divvies) locally on to your browser or login with a Google account to save your divvies
          across
          different browsers and devices.
        </p>
        <p>
          If you encounter any bugs or would like to suggest new features, feel free to <a href="" class="text-info">contact
          me</a>. I hope you enjoy
          using Divvy!
        </p>
      </div>
    </div>
    <div class="modal-action">
      <a href="https://ko-fi.com/carlosrr" target="_blank">
        <button class="btn btn-outline">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19.5 12.572L12 20l-7.5-7.428A5 5 0 1 1 12 6.006a5 5 0 1 1 7.5 6.572"/>
          </svg>
        <span>Donations</span>
        </button>
      </a>
      <form method="dialog">
        <button class="btn btn-secondary">I understand!</button>
      </form>
    </div>
  </div>
</dialog>